{{ if .Site.Params.giscus }}
<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.giscus.repo}}"
        data-repo-id="{{ .Site.Params.giscus.repo_id}}"
        data-category="{{ .Site.Params.giscus.category}}"
        data-category-id="{{ .Site.Params.giscus.category_id}}"
        data-mapping="{{ .Site.Params.giscus.mapping}}"
        data-reactions-enabled="{{ .Site.Params.giscus.reactions_enabled}}"
        data-emit-metadata="{{ .Site.Params.giscus.emit_metadata}}"
        data-theme="{{ .Site.Params.giscus.theme}}"
        data-lang="{{ .Site.Params.giscus.lang}}"
        crossorigin="{{ .Site.Params.giscus.crossorigin}}"
        async>
</script>
{{ end }}
